<div class="nav-switch">
  <div class="container padding-container">
    {{#link-to 'school-education' class="text text-xs text-left text-up regular text-black"}}Enseignement scolaire{{/link-to}}
    {{#link-to 'higher-education' class="text text-xs text-left text-up regular text-black"}}Enseignement supérieur{{/link-to}}
    {{#link-to 'employers' class="text text-xs text-left text-up regular text-black"}}Employeurs{{/link-to}}
  </div>
</div>

<div class="nav-principal mobile">
  <div class="container padding-container">
    <div class="switch2">
      <div class="hamburger hamburger--3dx {{burger.state.position}} {{if burger.state.open 'is-active'}}" {{action burger.state.actions.toggle}}>
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="switch">
      {{#link-to 'index'}}<img alt="Accueil du site pix.fr" class="logo" src="{{rootURL}}/images/pix-logo.svg">{{/link-to}}
      <img alt="Logo de la Marianne" src="{{rootURL}}/images/marianne-logo.svg">
    </div>
  </div>
</div>

<div class="nav-principal desktop">
  <div class="container padding-container">
    {{#link-to 'index'}}<img alt="Accueil du site pix.fr" class="logo" src="{{rootURL}}/images/pix-logo.svg">{{/link-to}}
    <img alt="Logo de la Marianne" src="{{rootURL}}/images/marianne-logo.svg">
    <div style="width:100%;" class="desktop">
      <div class="navigation">
        <div>{{#link-to 'competences' class="text text-s text-left semi-bold text-black"}}Compétences{{/link-to}}</div>
        <div>{{#link-to 'faq' class="text text-s text-left semi-bold text-black"}}Aide{{/link-to}}</div>
        <div><a class="text text-s text-left semi-bold text-black" href="https://pix.fr/connexion">Se connecter</a></div>
        <div><a style="transition: all ease-in .2s;" class="btn-nav" href="https://pix.fr/inscription">S'inscrire</a></div>
      </div>
    </div>
  </div>
</div>