<div class="container padding-container">
  <div class="sitelogo">
    <a href=""><img class="mb-2" alt="pix" src="{{rootURL}}/images/pix-logo.svg"></a>
    <div>
      <img style="margin-left: -4px;" class="ministere" alt="ministere de l education" src="{{rootURL}}/images/ministere-logo-2.svg">
    </div>
  </div>
  <div class="sitenav">
    <div class="column">
      <h4 class="text text-sm text-up text-left text-black mb-2 semi-bold">A propos</h4>
      <ul class="unstyled">
        <li>{{#link-to "jobs.index" class="text text-xs text-left regular text-black-l"}}Recrutement{{/link-to}}</li>
        <li>{{#link-to "legal-notices" class="text text-xs text-left regular text-black-l"}}Mentions légales{{/link-to}}</li>
        <li>{{#link-to "terms-of-service" class="text text-xs text-left regular text-black-l"}}CGU{{/link-to}}</li>
        <li><a class="text text-xs text-left regular text-black-l" href="mailto:contact@pix.fr">Contactez-nous</a></li>
        <li><a class="text text-xs text-left regular text-black-l" href="https://github.com/1024pix/pix">Le code source est libre</a></li>
      </ul>
    </div>
    <div class="column">
      <h4 class="text text-sm text-up text-left text-black mb-2 semi-bold">Ressources</h4>
      <ul class="unstyled">
        <li>{{link-to 'Compétences' 'competences' class="text text-xs text-left regular text-black-l"}}</li>
        <li>{{link-to 'Aide' 'faq' class="text text-xs text-left regular text-black-l"}}</li>
        <li><a href="https://app.pix.fr/connexion" class="text text-xs text-left regular text-black-l">Se connecter</a></li>
        <li><a href="https://app.pix.fr/inscription" class="text text-xs text-left regular text-black-l">S’inscrire</a></li>
      </ul>
    </div>
    <div class="padding">
      <h4 class="text text-sm text-up text-left text-black mb-3 semi-bold">Nous suivre</h4>
      <ul class="unstyled">
        <li><a href="https://www.facebook.com/Pix-148371465913378/" target="pix_facebook"><i class="icon-parent"><img style="max-width: 11px;" alt="facebook" src="{{rootURL}}/images/icn-facebook.svg"></i></a></li>
        <li><a href="https://twitter.com/pix_officiel" target="pix_twitter"><i class="icon-parent"><img style="max-width: 22px;" alt="twitter" src="{{rootURL}}/images/icn-twitter.svg"></i></a></li>
        <li><a href="https://www.linkedin.com/company/gip-pix/" target="pix_linkedin"><i class="icon-parent"><img style="max-width: 23px;" alt="linkedin" src="{{rootURL}}/images/icn-linkedin.svg"></i></a></li>
      </ul>
    </div>
  </div>
</div>
