<OrganizationsNav />

<div class="nav-principal mobile">
  <div class="container padding-container">
    <div class="switch2">
      <div class="hamburger hamburger--3dx {{burger.state.position}} {{if burger.state.open 'is-active'}}" {{action burger.state.actions.toggle}}>
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>
    <div class="switch">
      {{#link-to 'index'}}<img alt="Accueil du site pix.fr" class="logo" src="{{rootURL}}/images/pix-logo.svg">{{/link-to}}
      <img alt="Logo de la Marianne" src="{{rootURL}}/images/marianne-logo.svg">
    </div>
  </div>
</div>

<div class="nav-principal desktop">
  <div class="container padding-container">
    {{#link-to 'index'}}<img alt="Accueil du site pix.fr" class="logo" src="{{rootURL}}/images/pix-logo.svg">{{/link-to}}
    <img alt="Logo de la Marianne" src="{{rootURL}}/images/marianne-logo.svg">
    <div class="desktop">
      <MainNav />
    </div>
  </div>
</div>
