<div class="container padding-container">
  <div class="sitelogo">
    <a href=""><img class="mb-2 logo" alt="pix" src="{{rootURL}}/images/pix-logo.svg"></a>
    <div>
      <img style="margin-left: -4px;" class="ministere" alt="ministere de l education" src="{{rootURL}}/images/ministere-logo-2.svg">
    </div>
  </div>
  <div class="sitenav">
    <div class="column">
      <AboutNav />
    </div>
    <div class="column">
      <RessourcesNav />
    </div>
    <div class="padding social-links">
      <h4 class="text text-sm text-up text-left text-black mb-3 semi-bold social-links__title">Nous suivre</h4>
      <ul class="unstyled social-links__list">
        <li class="social-links__item social-link"><a class="social-link__facebook" href="https://www.facebook.com/Pix-148371465913378/" target="pix_facebook"><i class="icon-parent"><img style="max-width: 11px;" alt="facebook" src="{{rootURL}}/images/icn-facebook.svg"></i></a></li>
        <li class="social-links__item social-link"><a class="social-link__twitter" href="https://twitter.com/pix_officiel" target="pix_twitter"><i class="icon-parent"><img style="max-width: 22px;" alt="twitter" src="{{rootURL}}/images/icn-twitter.svg"></i></a></li>
        <li class="social-links__item social-link"><a class="social-link__linkedin" href="https://www.linkedin.com/company/gip-pix/" target="pix_linkedin"><i class="icon-parent"><img style="max-width: 23px;" alt="linkedin" src="{{rootURL}}/images/icn-linkedin.svg"></i></a></li>
      </ul>
    </div>
  </div>
</div>
