<h2 class="faq-category-title">{{categoryTitle}}</h2>
<ul class="faq-category-items">
  {{#each faqItems as |faqItem|}}
    <li class="faq-category-item">
      <h3 class="faq-category-item__question" id="{{faqItem.uid}}">{{{faqItem.question}}}</h3>
      <div class="faq-category-item__answer">{{{faqItem.answer}}}</div>
    </li>
  {{else}}
    Pas de questions
  {{/each}}
</ul>
