{{#if useLinkTo}}
  <LinkTo @route="{{as-route path}}" class="{{linkClass}}">{{{text}}}</LinkTo>
{{else}}
  <a href="{{if path path url}}" class="{{linkClass}}" target="{{target}}">{{{text}}}</a>
{{/if }}
