<header class="news-item-post__header">
  <h1 class="news-item-post__title">{{as-text newsItem.data.title}}</h1>
  <p class="news-item-post__meta">
    <span class="news-item-post__category {{categoryClassName}}">{{categoryLabel}}</span>
    •
    <span class="news-item-post__date">le {{moment-format newsItem.last_publication_date 'LL'}}</span>
  </p>
</header>

<div class="news-item-post__body">
  <div class="news-item-post__excerpt">
    {{{as-html newsItem.data.body}}}
    {{{web-snippet newsItem.data.body1}}} 
  </div>
</div>

<footer class="news-item-post__footer">
</footer>
