{{#link-to 'news.show' newsItem.uid class="news-item-card__link"}}
  <header class="news-item-card__header">

    <!-- /!\ We keep this line if we think that an image would be better -->
    <div class="news-item-card__illustration" style="background-image: url('{{{newsItem.data.illustration.url}}}')"></div>
  </header>

  <div class="news-item-card__body">

    <p class="news-item-card__meta">
      <span class="news-item-card__category {{categoryClassName}}">{{categoryLabel}}</span>
      •
      <span class="news-item-card__date">le {{moment-format newsItem.first_publication_date 'LL'}}</span>
    </p>

    <h1 class="news-item-card__title">{{as-text newsItem.data.title}}</h1>

    <div class="news-item-card__excerpt">
      {{{as-html newsItem.data.excerpt}}}
    </div>
  </div>
{{/link-to}}
