<header class="news-item-post__header">
  {{log newsItem}}
  <h1 class="news-item-post__title">{{as-text newsItem.data.title}}</h1>
  <p class="news-item-post__meta">
    <span class="news-item-post__category {{categoryClassName}}">{{categoryLabel}}</span>
    •
    {{#if newsItem.first_publication_date}}
    <span class="news-item-post__date">le {{moment-format newsItem.data.date 'LL'}}</span>
    {{else}}
    <span class="news-item-post__date">Preview</span>
    {{/if}}
  </p>
</header>

<div class="news-item-post__body">
  <div class="news-item-post__excerpt">
    {{{as-html newsItem.data.body}}}
    {{slices/slice-zone slices=newsItem.data.slices}}
  </div>
</div>
<footer class="news-item-post__footer">
</footer>
