<div class="page about">

  <section class="hero">
    <div class="background"></div>
    <div class="container padding-container">
      <h1>Qui sommes-nous ?</h1>
    </div>
  </section>

  <section class="mission">
    <div class="background"></div>
    <div class="container padding-container">
      <h2>Notre mission, cultiver vos compétences numériques</h2>
      <div class="objectives">
        <div class="objective">
          <h3>Relever le défi de la transition numérique</h3>
          <p>Le numérique est chaque jour plus présent dans nos vies. Pour nous informer, travailler, réaliser des démarches administratives, se déplacer, partager des idées, communiquer avec nos proches etc. Pour beaucoup, le numérique est une chance, pour d’autres il est au contraire un risque qui bouscule des repères et transforme le quotidien, les métiers…</p>
        </div>
        <div class="objective">
          <h3>Une mission d’intérêt général</h3>
          <p>Pix est le nouveau service public, créé pour répondre à ce défi de société. Sa mission est d’amener chacun d’entre nous à cultiver ses compétences numériques et à valoriser ses acquis, et ce tout au long de sa vie.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="goal">
    <div class="background"></div>
    <div class="container padding-container">
      <h2>Une équipe animée <br>par un même objectif</h2>
      <p>
        Pix est porté par une équipe de 30 personnes aux expériences multiples :
        <br>experts de l’éducation et de la médiation numérique,
        <br>enseignants, chercheurs, développeurs web,
        <br>experts du design, de la communication, des partenariats…
      </p>
      <p>
        Tous animés par le même objectif :
        <br>permettre à chacun de cultiver ses compétences numériques tout au long de sa vie !
      </p>
    </div>
  </section>

  <section class="public-service">
    <div class="background"></div>
    <div class="container padding-container">
      <h2>Pix, un service 100% public</h2>
      <h3>Initié dans le cadre du dispositif Startup d’État en 2016, <br>Pix est un Groupement d’intérêt public.</h3>
      <p>Cette structure à but non lucratif réunit différents acteurs publics engagés dans les domaines de l’éducation et de la formation.</p>
      <ul class="sponsors">
        <li class="sponsor sponsor--ministere"><img src="{{rootURL}}/images/ministere-logo-2.svg" alt=""></li>
        <li class="sponsor sponsor--uoh"><img src="{{rootURL}}/images/logos--uoh.svg" alt=""></li>
        <li class="sponsor sponsor--cned"><img src="{{rootURL}}/images/logos--cned.svg" alt=""></li>
        <li class="sponsor sponsor--unistra"><img src="{{rootURL}}/images/logos--unistra.svg" alt=""></li>
        <li class="sponsor sponsor--cnam"><img src="{{rootURL}}/images/logos--cnam.svg" alt=""></li>
      </ul>
    </div>
  </section>

  <section class="co-built-service">
    <div class="background"></div>
    <div class="container padding-container">
      <h2>Un service public co-construit <br>avec sa communauté</h2>
      <ul class="stats">
        <li class="stat"><span class="stat--value">+2000</span>épreuves testées en panel</li>
        <li class="stat"><span class="stat--value">700</span>tutos sélectionnés et recommandés dans une démarche collaborative</li>
        <li class="stat"><span class="stat--value">270</span>établissements scolaires et d’enseignement supérieur pionniers</li>
        <li class="stat"><span class="stat--value">1</span>plateforme développée en logiciel libre</li>
      </ul>
    </div>
  </section>

</div>
