<div class="page organization employers">

  <section class="hero">
    <div class="hero-background gradient-pro"></div>
    <div class="container padding-container">
      <h1 class="text text-ll text-left bold text-white mb-1 block-pro">Évaluez et développez les compétences numériques dans votre organisation</h1>
      {{#link-to 'formable-pages.pix-orga-registration' class="btn"}}<span>Contactez-nous</span>{{/link-to}}
    </div>
  </section>

  <section class="section-mesurer-pro">
    <div class="hero-background"></div>
    <h2 class="text text-lm text-center regular text-black mb-0-2">Mesurer les compétences numériques</h2>
    <h3 class="text text-mm text-center light text-black mb-7">Ciblez les besoins de vos collaborateurs et proposez des formations sur-mesure en fonction du profil de chacun.</h3>
    <div class="container">
      <div class="column mb-6">
        <h4 class="text text-ms text-left regular text-black mb-0">Un large éventail de compétences</h4>
        <p class="text text-s text-left light text-black">Un référentiel de plus de 500 acquis dans 5 grands domaines de compétences pour tester vos collaborateurs sur l’ensemble des compétences requises en milieu professionnel.</p>
      </div>
      <div class="column mb-6">
        <h4 class="text text-ms text-left regular text-black mb-0">Des tests compatibles sur tous les environnements</h4>
        <p class="text text-s text-left light text-black">Les tests sont compatibles avec tous les systèmes d'exploitation (Windows, Max, Linux...). Ils ont été élaborés pour fonctionner également avec tous les logiciels et quelle que soit la version utilisée.</p>
      </div>
      <div class="column mb-6">
        <h4 class="text text-ms text-left regular text-black mb-0">Un environnement immersif</h4>
        <p class="text text-s text-left light text-black">Via des recherches en ligne, la manipulation de fichiers et de données, l’utilisateur est immergé dans son environnement numérique, et confronté à des problématiques réelles.</p>
      </div>
      <div class="column mb-6">
        <h4 class="text text-ms text-left regular text-black mb-0">Un algorithme adaptatif</h4>
        <p class="text text-s text-left light text-black">Pour maintenir la motivation de vos collaborateurs, l’algorithme adapte le niveau de chaque question. Cela permet d’éviter les questions trop faciles ou trop difficiles.</p>
      </div>
    </div>
  </section>

  <section class="section-developper-pro">
    <div class="hero-background">
    </div>
    <div class="container">
      <div class="box">
        <img src="{{rootURL}}/images/img-developpez-competences-pro.jpg">
      </div>
      <div class="txt">
        <div class="column">
          <h2 class="text text-lm text-left regular text-white mb-3">Développer les compétences numériques</h2>
          <h4 class="text text-r text-left semi-bold text-white mb-0">Une granularité fine des données</h4>
          <p class="text text-s text-left regular text-white mb-1">Accédez à votre tableau de bord sur l'espace Pix Orga et obtenez un diagnostic détaillé pour chaque collaborateur et sur chacune des compétences.</p>
          <h4 class="text text-r text-left semi-bold text-white mb-0">Formez vos collaborateurs sur les compétences identifiées</h4>
          <p class="text text-s text-left regular text-white mb-6">A partir des résultats, vous pourrez détecter les forces et les faiblesses de vos collaborateurs et leur proposer un accompagnement adapté à leurs besoins de formation.</p>
          <h2 class="text text-lm text-left regular text-white mb-3">Stimuler leur envie d’apprendre</h2>
          <h4 class="text text-r text-left semi-bold text-white mb-0">Des épreuves ludiques</h4>
          <p class="text text-s text-left regular text-white mb-1">Défis, cas pratiques, environnement immersif : vos collaborateurs cultivent leurs compétences numériques en se testant sur une interface ludique et "gamifiée" qui stimule leur envie d'apprendre.</p>
          <h4 class="text text-r text-left semi-bold text-white mb-0">Des ressources partagées pour progresser</h4>
          <p class="text text-s text-left regular text-white">Grâce à une sélection de ressources partagées - tutoriels, fiches, cours en ligne - vos collaborateurs peuvent en apprendre davantage sur chaque thème et ainsi progresser.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-valoriser">
    <h2 class="text text-lm text-center regular text-black mb-0-2">Valoriser les compétences numériques</h2>
    <h3 class="text text-mm text-center light text-black mb-7">L’obtention de la certification Pix permet de valoriser les compétences des collaborateurs<br>et de favoriser l’employabilité et la mobilité professionnelle.</h3>
    <div class="container">
      <div class="column">
        <h4 class="text text-ms text-left regular text-black mb-0">Une certification nationale des compétences digitales</h4>
        <p class="text text-s text-left light text-black">La certification Pix permet d’obtenir un profil de compétences certifié reconnu par l’État et le monde professionnel. Elle est inscrite à l'inventaire de la CNCP.</p>
      </div>
      <div class="column">
        <h4 class="text text-ms text-left regular text-black mb-0">Un référentiel européen</h4>
        <p class="text text-s text-left light text-black">Déclinée du référentiel européen DIGCOMP, la certification Pix favorise la mobilité de vos collaborateurs en Europe.</p>
      </div>
      <div style="margin:auto;">
        {{#link-to 'formable-pages.pix-orga-registration' class="btn"}}<span>Contactez-nous</span>{{/link-to}}
      </div>
    </div>
  </section>

  <section class="section-confiance">
    <h2 class="text text-lm text-center regular text-black mb-6 mt-2">Ils nous font confiance</h2>
    <div class="container">
      <div class="column">
        <div class="block box-1"><img src="{{rootURL}}/images/logo-gendarmerie.svg"></div>
      </div>
      <div class="column">
        <div class="block box-2"><img src="{{rootURL}}/images/logo-vinci.svg"></div>
      </div>
      <div class="column">
        <div class="block box-3"><img src="{{rootURL}}/images/logo-CA-IFCAM.svg"></div>
      </div>
      <div class="column">
        <div class="block box-5"><img src="{{rootURL}}/images/logo-ministere-du-travail.svg"></div>
      </div>
      <div class="column">
        <div class="block box-4"><img src="{{rootURL}}/images/logo-prefecture-bretagne.svg"></div>
      </div>
    </div>
  </section>

  <section class="section-comment-ca-marche">
    <h2 class="text text-lm text-center regular text-black mb-6">Pix pour les pros, comment ça marche ?</h2>
    <div class="container">
      <div class="column">
        <div class="inner">
          <h4 class="text text-r text-left regular text-black mb-2">Lancez une série de tests ciblés</h4>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Personnalisez votre interface</p>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Sélectionnez les compétences à maîtriser</p>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Planifiez les tests</p>
        </div>
      </div>
      <div class="column">
        <div class="inner">
          <h4 class="text text-r text-left regular text-black mb-2">Invitez vos collaborateurs à passer les tests</h4>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Envoyez les invitations à partir de l’interface</p>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Suivez leur participation à la campagne</p>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Gérez les relances</p>
        </div>
      </div>
      <div class="column">
        <div class="inner">
          <h4 class="text text-r text-left regular text-black mb-2">Analysez les résultats</h4>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Accédez au niveau de vos collaborateurs sur chaque compétence</p>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Analysez et filtrez les données selon vos besoins</p>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Tirez parti des résultats</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-pix">
    <h2 class="text text-lm text-center regular text-black mb-6 mt-2">Pix, c'est…</h2>
    <div class="container padding-container">
      <div class="column">
        <h3 class="text text-xl text-center light text-blue">56 000</h3>
        <p class="text text-sm text-center regular text-black">utilisateurs</p>
      </div>
      <div class="column">
        <h3 class="text text-xl text-center light text-blue">7 000</h3>
        <p class="text text-sm text-center regular text-black">certifications délivrées</p>
      </div>
      <div class="column">
        <h3 class="text text-xl text-center light text-blue">200</h3>
        <p class="text text-sm text-center regular text-black">collèges et lycées<br>pionniers</p>
      </div>
      <div class="column">
        <h3 class="text text-xl text-center light text-blue">70</h3>
        <p class="text text-sm text-center regular text-black">établissements<br>d'enseignement supérieur<br>pionniers</p>
      </div>
      <div class="column">
        <h3 class="text text-xl text-center light text-blue">6 Millions</h3>
        <p class="text text-sm text-center regular text-black">d’épreuves passées  </p>
      </div>
    </div>
  </section>

  <section class="section-collaborateurs">
    <h2 class="text text-lm text-center regular text-white mb-3">Accompagnez vos collaborateurs avec Pix</h2>
    <div class="container">
      <div style="margin:auto;">
        {{#link-to 'formable-pages.pix-orga-registration' class="btn"}}<span>Contactez-nous</span>{{/link-to}}
      </div>
    </div>
  </section>

</div>