<div class="page organization higher-education">

  <section class="hero">
    <div class="hero-background gradient-sup"></div>
    <div class="container padding-container">
      <h1 class="text text-ll text-left bold text-white mb-1">Évaluez et développez<br>les compétences<br>numériques des étudiants</h1>
      {{#link-to 'formable-pages.higher-education-establishement-registration' class="btn"}}Je fais une demande Pix Orga{{/link-to}}
    </div>
  </section>

  <section class="section-infos">
    <div class="container padding-container justify">
      <div class="column">
        <img class="mb-3 desktop minister-logo__sup" alt="ministere de l education" src="{{rootURL}}/images/ministere-logo-2.svg">
        <img class="mb-3 mobile minister-logo__sup" alt="ministere de l education" src="{{rootURL}}/images/ministere-logo-2-mobile.svg">
        <p class="text text-sm text-center light text-black">Une initiative du ministère de l’Éducation nationale et de la Jeunesse, de l'Enseignement supérieur, de la Recherche et de l'Innovation.</p>
      </div>
      <div class="column">
        <div class="mb-1" style="width:80px; height:auto; display:inline-block; text-align:center;" ><img style="width:100%;height:auto;" alt="ministere de l education" src="{{rootURL}}/images/icn-certification.svg"></div>
        <p class="text text-sm text-center light text-black">Pix remplacera le C2i Niveau 1<br>à la rentrée 2019.</p>
      </div>
    </div>
  </section>

  <section class="section-mesurer">
    <div class="hero-background"></div>
    <h2 class="text text-lm text-center regular text-black mb-0-2">Un outil de mesure clé en main</h2>
    <h3 class="text text-mm text-center light text-black mb-7">Pix s’adresse à tous les publics pour évaluer leurs compétences numériques de façon précise et motivante.</h3>
    <div class="container">
      <div class="column mb-6">
        <h4 class="text text-ms text-left regular text-black mb-0">Un large éventail de compétences</h4>
        <p class="text text-s text-left light text-black">Avec 5 domaines et 16 compétences mesurées sur 8 niveaux, le profil Pix donne une description précise des acquis des étudiants. Plus de 500 acquis à la maille la plus fine couvrent connaissances, savoir-faire, et capacité à identifier les enjeux du numérique.</p>
      </div>
      <div class="column mb-6">
        <h4 class="text text-ms text-left regular text-black mb-0">Des épreuves qui mettent en action</h4>
        <p class="text text-s text-left light text-black">Via des recherches en ligne, la manipulation de fichiers et de données, les étudiants sont immergés dans leur environnement numérique habituel et confrontés à des problématiques réelles.</p>
      </div>
      <div class="column mb-6">
        <h4 class="text text-ms text-left regular text-black mb-0">Un profil de compétences numériques à cultiver</h4>
        <p class="text text-s text-left light text-black">Pix permet aux étudiants de connaître leur profil de compétences numériques associé à un score global sur 1024 pix. Ce profil est actualisé au fur et à mesure de leurs progrès.</p>
      </div>
      <div class="column mb-6">
        <h4 class="text text-ms text-left regular text-black mb-0">Un test adaptatif</h4>
        <p class="text text-s text-left light text-black">Le test s’adapte au niveau de chacun, réponse après réponse. Le vécu de l’évaluation est positif quel que soit le niveau de départ.</p>
      </div>
    </div>
  </section>

  <section class="section-developper">
    <div class="hero-background"></div>
    <div class="title-top">
      <h2 class="text text-lm text-left regular text-white mb-0-2">Mobilisez Pix dans votre pédagogie</h2>
      <h3 class="text text-mm text-left light text-white mb-4">Avec un espace Pix Orga pour votre établissement, vous avez les clés pour<br>adapter vos actions de formation.</h3>
    </div>
    <div class="container">
      <div class="txt">
        <div class="column-sup">
          <h4 class="text text-r text-left semi-bold text-white mb-0">Un suivi pédagogique sur-mesure</h4>
          <p class="text text-s text-left regular text-white mb-5">Programmez des tests ciblés sur les attendus d'une filière. Découvrez le niveau des étudiants et suivez leurs progrès, individuels et collectifs.</p>
          <h4 class="text text-r text-left semi-bold text-white mb-0">Des indices et tutos engageants</h4>
          <p class="text text-s text-left regular text-white mb-5">A l’issue d’un test, des indices et des tutos répondent à la curiosité suscitée par les épreuves. Ils engagent les étudiants dans une dynamique de progression en appui à la formation que vous dispensez.</p>
          <h4 class="text text-r text-left semi-bold text-white mb-0">Des ressources pédagogiques partagées</h4>
          <p class="text text-s text-left regular text-white mb-5">Les tutos sont des liens vers des vidéos et des textes, de sources diverses. Ils constituent un ensemble de ressources que vous pouvez contribuer à enrichir.</p>
          {{link-to 'Suivre l’actualité du service Pix Orga' 'formable-pages.pix-orga-newsletter-subscription' class="formable-link text text-s text-left semi-bold text-white mb-0"}}
          {{link-to 'Obtenir plus d’informations sur les conditions d’accès' 'formable-pages.higher-education-establishement-registration' class="formable-link text text-s text-left semi-bold text-white"}}
        </div>
      </div>
      <div class="box">
        <img class="margin-top" src="{{rootURL}}/images/mobilisez-pix-dans-votre-pedagogie.jpg">
      </div>
    </div>
  </section>

  <section class="section-valoriser">
    <h2 class="text text-lm text-center regular text-black mb-0-2">La certification Pix, un incontournable sur le CV</h2>
    <h3 class="text text-mm text-center light text-black mb-7">L’obtention de la certification Pix permet de valoriser les compétences<br>des étudiants et favorise leur insertion professionnelle.</h3>
    <div class="container">
      <div class="column">
        <h4 class="text text-ms text-left regular text-black mb-0">La certification nationale de culture digitale</h4>
        <p class="text text-s text-left light text-black">La certification Pix permet d’obtenir un profil de compétences certifié reconnu par l’État et le monde professionnel. Inscrite à l’inventaire de la CNCP, elle peut être intégrée à des offres de formation continue.</p>
      </div>
      <div class="column">
        <h4 class="text text-ms text-left regular text-black mb-0">Et si votre établissement devenait centre de certification Pix ?</h4>
        <p class="text text-s text-left light text-black">La certification Pix est opérée par un réseau de centres de certification agréés. En 2018-2019, le développement progressif de ce réseau s’appuiera sur un cahier des charges affiné grâce aux retours d’expérience de plus de 60 établissements d’enseignement supérieur pionniers.</p>
      </div>
      <div class="column">
        <h4 class="text text-ms text-left regular text-black mb-0">Un atout pour l’insertion professionnelle et la mobilité</h4>
        <p class="text text-s text-left light text-black">Incontournable sur le CV, la certification Pix favorise l’insertion professionnelle des étudiants. Déclinée du référentiel européen DIGCOMP, elle facilite leur mobilité en Europe.</p>
      </div>
      <div class="column">
        {{link-to 'Voir la liste des établissements pionniers' 'partners' class="formable-link text text-s text-left semi-bold text-blue mb-0 mt-2"}}
        <a class="text text-s text-left semi-bold text-blue mb-0 mt-0 formable-link" href="{{rootURL}}/documents/Cahier_des_charges_des_centres_de_certification_Pix_(tous_publics_hors_scolaires)_-_Decembre_2018.pdf">Télécharger le cahier des charges des centres de certification Pix</a>
      </div>
    </div>
  </section>

  <section class="section-utiliser-pix">
    <h2 class="text text-lm text-center regular text-white mb-6">Utilisez Pix avec les étudiants</h2>
    <div class="container">
      <div class="column">
        <h3 class="text text-lxl text-left light text-white">1</h3>
        <h4 class="text text-ls text-left light text-white">Ils testent gratuitement<br>leurs compétences</h4>
        <hr class="text-left mb-2 mt-2">
        <p class="text text-xs text-left regular text-white">Tout étudiant comme tout citoyen peut se créer un compte personnel et gratuit sur pix.fr.</p>
      </div>
      <div class="column">
        <h3 class="text text-lxl text-left light text-white">2</h3>
        <h4 class="text text-ls text-left light text-white">Vous mobilisez Pix Orga dans votre pédagogie*</h4>
        <hr class="text-left mb-2 mt-2">
        <p class="text text-xs text-left regular text-white mb-0-2">Ouvrez un espace dédié à votre établissement et invitez vos équipes pédagogiques. Elles pourront créer des tests ciblés en fonction des objectifs de formation, convier les étudiants à les passer, et tirer parti des résultats.</p>
        <p style="font-size:12px;" class="text text-left regular text-white italic"><sup>*</sup>Gratuit sous condition d’éligibilité</p>
      </div>
      <div class="column">
        <h3 class="text text-lxl text-left light text-white">3</h3>
        <h4 class="text text-ls text-left light text-white">Vous leur prescrivez la<br>certification Pix</h4>
        <hr class="text-left mb-2 mt-2">
        <p class="text text-xs text-left regular text-white">Prescrivez la certification Pix à vos étudiants au moment opportun. Votre établissement peut l’opérer lui-même s'il est centre de certification agréé par Pix.</p>
      </div>
      <div style="margin:auto;">
        {{#link-to 'formable-pages.higher-education-establishement-registration' class="btn mt-6"}}Je fais une demande Pix Orga{{/link-to}}
      </div>
    </div>
  </section>

  <section class="section-comment-ca-marche">
    <h2 class="text text-lm text-center regular text-black mb-6">Pix Orga, comment ça marche ?</h2>
    <div class="container">
      <div class="column">
        <div class="inner">
          <h4 class="text text-r text-left regular text-black mb-2">Lancez une série de tests ciblés</h4>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Personnalisez votre interface</p>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Sélectionnez les compétences à maîtriser</p>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Planifiez les tests</p>
        </div>
      </div>
      <div class="column">
        <div class="inner">
          <h4 class="text text-r text-left regular text-black mb-2">Invitez les étudiants à passer les tests</h4>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Envoyez les invitations à partir de l’interface</p>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Suivez leur participation</p>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Gérez les relances</p>
        </div>
      </div>
      <div class="column">
        <div class="inner">
          <h4 class="text text-r text-left regular text-black mb-2">Analysez les résultats</h4>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Accédez au niveau des étudiants sur chaque compétence</p>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Analysez et filtrez les données selon vos besoins</p>
          <p class="text text-xs text-left light text-black mb-0-1"><span>›</span> Tirez parti des résultats</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-agenda">
    <div class="hero-background"></div>
    <div class="container">
      <img style="margin: auto; max-width: 90px;" src="{{rootURL}}/images/icn-calendar.svg">
      <h2 class="text text-ls text-center regular text-black mb-6 mt-3">Calendrier 2018-2019 :</h2>
      <div style="margin:auto;">
        <div class="column mb-0-2">
          <p class="text text-r text-left semi-bold text-black mb-0">Dès début septembre 2018</p>
          <p class="text text-sm text-left light text-black">Votre établissement peut demander un espace Pix Orga.</p>
        </div>
        <div class="column mb-0-2">
          <p class="text text-r text-left semi-bold text-black mb-0">Octobre-Novembre 2018</p>
          <p class="text text-sm text-left light text-black">Pix traite les demandes d’agrément pour devenir centre de certification Pix.</p>
        </div>
        <div class="column mb-0-2">
          <p class="text text-r text-left semi-bold text-black mb-0">À partir de novembre 2018</p>
          <p class="text text-sm text-left light text-black">Pix active et met à disposition votre espace Pix Orga.</p>
        </div>
        <div class="column mb-0-2">
          <p class="text text-r text-left semi-bold text-black mb-0">À partir de décembre 2018</p>
          <p class="text text-sm text-left light text-black">Reprise des sessions de certifications.</p>
        </div>
        <div class="column mb-0-2">
          <p class="text text-r text-left semi-bold text-black mb-0">Rentrée 2019</p>
          <p class="text text-sm text-left light text-black">Pix remplace le C2i Niveau 1</p>
        </div>
      </div>
    </div>
  </section>

  <KeyNumbers class="section-pix"/>

</div>