<div class="page index">

  {{app-navbar}}

  <section class="hero">
    <div class="container padding-container">
      <h1 class="hero__title">Cultivez vos<br>compétences<br>numériques</h1>
      <h2 class="hero__subtitle">PIX est un service public en ligne d’évaluation,<br>de développement et de certification des compétences numériques.</h2>
      <div class="hero__connection-button">
        <a href="https://pix.fr/inscription" class="btn-primary"><span>Je m’inscris gratuitement</span></a>
      </div>
    </div>
  </section>

  <section class="section-demo">
    <div class="container padding-container">
      <h2 class="title">Découvrez des exemples d’épreuves PIX !</h2>
      <div class="courses">
        <div class="course">
          <div class="course__icon">
            <img src="https://dl.airtable.com/1dVxCE3wQ7iZNqNMVGWE_M3.jpeg" alt="">
          </div>
          <p class="course__title">Informations<br>et données</p>
          <p class="course__challenges">9 épreuves</p>
          <p class="course__description">Recherche d'information, gestion et traitement de données</p>
          <div class="course__start-button">
            <a href="https://pix.fr/courses/rec8rnpOgmfZyd2Ng">Commencer</a>
          </div>
        </div>
        <div class="course">
          <div class="course__icon">
            <img src="https://dl.airtable.com/bz8yTh56SkuCSmcZYApk_M2.jpeg" alt="">
          </div>
          <p class="course__title">Communication<br>et collaboration</p>
          <p class="course__challenges">7 épreuves</p>
          <p class="course__description">Échanger, publier, collaborer et gérer son identité numérique</p>
          <div class="course__start-button">
            <a href="https://pix.fr/courses/recq1wh5cKtibXDZu">Commencer</a>
          </div>
        </div>
        <div class="course">
          <div class="course__icon">
            <img src="https://dl.airtable.com/aUkhUzb0R4eIsegdZF5P_M4.jpeg" alt="">
          </div>
          <p class="course__title">Création<br>de contenu</p>
          <p class="course__challenges">9 épreuves</p>
          <p class="course__description">Textes, diaporamas, images, vidéos, sons… et un peu de programmation</p>
          <div class="course__start-button">
            <a href="https://pix.fr/courses/recvPKiqKKHipEOjK">Commencer</a>
          </div>
        </div>
        <div class="course">
          <div class="course__icon">
            <img src="https://dl.airtable.com/o90KDugeRlyyAy9Elwy4_M5.jpeg" alt="">
          </div>
          <p class="course__title">Protection<br>et sécurité</p>
          <p class="course__challenges">8 épreuves</p>
          <p class="course__description">Sécuriser les équipements, les communications et les données</p>
          <div class="course__start-button">
            <a href="">Commencer</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-features">
    <div class="container padding-container">
      <h2 class="title">Le projet PIX</h2>
      <div class="features">
        <div class="feature">
          <div class="feature__icon">
            <img src="{{rootURL}}/images/features/icon-cafe.svg" alt="">
          </div>
          <p class="feature__title">Vivez l’expérience PIX</p>
          <p class="feature__description">Un parcours d’évaluation convivial, accessible et interactif.</p>
        </div>
        <div class="feature">
          <div class="feature__icon">
            <img src="{{rootURL}}/images/features/icon-monde.svg" alt="">
          </div>
          <p class="feature__title">PIX est pour tout le monde</p>
          <p class="feature__description">Collégiens, lycéens, étudiants, professionnels, citoyens…</p>
        </div>
        <div class="feature">
          <div class="feature__icon">
            <img src="{{rootURL}}/images/features/icon-reference.svg" alt="">
          </div>
          <p class="feature__title">PIX est la référence</p>
          <p class="feature__description">La certification nationale de la culture numérique made in France au standard européen.</p>
        </div>
        <div class="feature">
          <div class="feature__icon">
            <img src="{{rootURL}}/images/features/icon-evolutif.svg" alt="">
          </div>
          <p class="feature__title">PIX est évolutif</p>
          <p class="feature__description">Le référentiel<br> de compétences s’adapte en permanence aux évolutions du monde numérique.</p>
        </div>
        <div class="feature">
          <div class="feature__icon">
            <img src="{{rootURL}}/images/features/icon-gratuit.svg" alt="">
          </div>
          <p class="feature__title">PIX est gratuit</p>
          <p class="feature__description">Entraînez-vous et progressez gratuitement à votre rythme avant d’être certifié.</p>
        </div>
      </div>
      <div class="learn-more-button">
        {{#link-to 'index' class="btn"}}<span>En savoir plus sur le projet</span>{{/link-to}}
      </div>
    </div>
  </section>

  {{app-footer}}

</div>
