<div class="page school-education">

  <section class="hero">
    <div class="hero-background gradient-sco">
    </div>
    <div class="container padding-container">
      <h1 class="text text-ll text-left bold text-white mb-1">Évaluez et développez<br>les compétences<br>numériques des élèves</h1>
    </div>
  </section>

  <section class="section section-infos">
    <div class="container flex padding-container">
      <div class="column">
        <div class="mb-3" style="height: 80px;">
          <img alt="ministere de l education" src="{{rootURL}}images/logos--marianne.svg">
        </div>
        <p class="text text-center light text-black">Une initiative des ministères de l’Éducation nationale et de la Jeunesse, de l'Enseignement supérieur, de la Recherche et de l'Innovation.</p>
      </div>
      <div class="column">
        <div class="mb-3" style="height: 80px;">
          <img alt="certification" src="{{rootURL}}images/icn-certification.svg">
        </div>
        <p class="text text-center light text-black">Pix remplace le B2i et a vocation à être généralisé à partir de la rentrée 2019 pour tous les élèves de France de 3e et de Terminale.</p>
      </div>
      <div class="column">
        <div class="mb-3" style="height: 80px;">
          <img alt="gratuit" src="{{rootURL}}images/icn-gift.svg">
        </div>
        <p class="text text-center light text-black">Gratuit pour tous les collèges et lycées, publics ou privés sous contrat.</p>
      </div>
    </div>
  </section>

  <section class="section skewed skewed--negative section-pourquoi-pix">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title">Pourquoi Pix ?</h2>
      </div>
      <div class="section__body">
        <div class="feature-list">
          <div class="feature">
            <h4 class="feature__title">Mieux accompagner les élèves</h4>
            <div class="feature__body">
              <p>Pix permet à chaque élève de connaître son niveau et de mieux s’approprier les outils et ressources numériques pour des usages responsables, critiques, créatifs et efficaces.</p>
            </div>
          </div>
          <div class="feature">
            <h4 class="feature__title">Une certification reconnue</h4>
            <div class="feature__body">
              <p>Pix est la garantie d'une certification d'un niveau de compétence au niveau national : elle s'appuie sur le <a target="_blank" href="https://eduscol.education.fr/cid111189/cadre-de-reference-des-competences-numeriques-pour-l-ecole-et-le-college.html">CRCN</a> et sera passée par 100% des collégiens et lycéens, assurant ainsi sa reconnaissance d'un établissement à un autre et dans le monde professionnel.</p>
            </div>
          </div>
          <div class="feature">
            <h4 class="feature__title">Mieux outiller les enseignants</h4>
            <div class="feature__body">
              <p>Pour faciliter le travail des équipes pédagogiques, Pix a développé la plateforme Pix Orga qui permet de générer des campagnes d’évaluation basées sur les tests Pix, de suivre les résultats des élèves, et d’identifier les compétences à approfondir et de visualiser leurs progrès.</p>
            </div>
          </div>
          <div class="feature">
            <h4 class="feature__title">Une plateforme durable</h4>
            <div class="feature__body">
              <p>Les questions sont actualisées en continu afin de suivre les évolutions du numérique. Chaque compte créé n’a pas de limite de temps, permettant de mesurer, développer et valoriser les compétences numériques tout au long de la vie.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-mesurer">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title">Mesurer les compétences numériques</h2>
        <h3 class="section__subtitle">Tester les élèves avec des défis ludiques et des mises en situation concrètes et réelles</h3>
      </div>
      <div class="section__body">
        <div class="feature-list">
          <div class="feature">
            <h4 class="feature__title">Un suivi pédagogique facilité</h4>
            <div class="feature__body">
              <p>Les établissements scolaire du second degré vont bénéficier d'un compte dédié Pix Orga et de fonctionnalités spécifiques pour identifier et évaluer les compétences numériques des élèves. Chaque enseignant peut accéder aux profils des élèves, connaître le niveau de chacun et identifier le niveau collectif d'une classe.</p>
            </div>
          </div>
          <div class="feature">
            <h4 class="feature__title">Un large éventail de compétences</h4>
            <div class="feature__body">
              <p>16 compétences réparties dans 5 grands domaines pour tester les connaissances, les savoir-faire, et la capacité à identifier les enjeux du numérique, en articulation avec les attendus des programmes scolaires et du socle commun.</p>
            </div>
          </div>
          <div class="feature">
            <h4 class="feature__title">Un test adaptatif</h4>
            <div class="feature__body">
              <p>Pour maintenir la motivation des élèves, le test s’adapte au niveau de chacun, réponse après réponse. Quel que soit son niveau de départ, l'élève bénéficie d'une expérience de test personnalisé et adapté.</p>
            </div>
          </div>
          <div class="feature">
            <h4 class="feature__title">Un profil de compétences numériques à cultiver</h4>
            <div class="feature__body">
              <p>Les élèves peuvent enrichir leur profil Pix de deux manières : en autonomie à partir de leur compte personnel ou sur invitation à un parcours de test généré par un enseignant via Pix Orga. L’accès est possible depuis l’Espace Numérique de Travail (ENT), pour tout établissement connecté au Gestionnaire d’Accès aux Ressources (GAR).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section skewed skewed--negative section-developper">
    <div class="container flex">
      <div class="section-developper__illustration child">
        <img src="{{rootURL}}images/img-developpez-competences.jpg" alt="">
      </div>
      <div class="section-developper__text child">
        <div class="section__header">
          <h2 class="section__title">Développez les compétences numériques</h2>
        </div>
        <div class="section__body">
          <div class="feature-list">
            <div class="feature">
              <h4 class="feature__title">Stimulez l’envie d’apprendre</h4>
              <div class="feature__body">
                <p>Défis, cas pratiques, environnement immersif : les élèves cultivent leurs compétences numériques en se testant sur une interface ludique et "gamifiée" qui stimule l’envie d'apprendre.</p>
              </div>
            </div>
            <div class="feature">
              <h4 class="feature__title">Analyser ses résultats</h4>
              <div class="feature__body">
                <p>À la fin de chaque test, les élèves vont pouvoir identifier leurs points forts et points faibles, découvrir les bonnes réponses et bénéficier d’indices pour réussir la prochaine fois.</p>
              </div>
            </div>
            <div class="feature">
              <h4 class="feature__title">Des tutos pour progresser</h4>
              <div class="feature__body">
                <p>Des liens vers des tutoriels permettent aux élèves d'en apprendre davantage sur chaque question, et ainsi de progresser.</p>
              </div>
            </div>
            <div class="feature">
              <h4 class="feature__title">Retenter le test</h4>
              <div class="feature__body">
                <p>Chaque élève a la possibilité de rejouer les tests tous les 4 jours, s’il souhaite vérifier ses acquis et améliorer son score.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section skewed section-valoriser">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title">Valoriser les compétences numériques</h2>
        <h3 class="section__subtitle">La certification Pix permet d’obtenir un profil de compétences certifié,<br>reconnu par l'État et le monde professionnel.</h3>
      </div>
      <div class="section__body">
        <div class="certification-video">
          <iframe frameborder="0" src="https://www.dailymotion.com/embed/video/x78gwjv?queue-enable=false" allowfullscreen="" allow="autoplay"></iframe>
        </div>
        <div class="feature-list">
          <div class="feature">
            <h4 class="feature__title">Une certification personnalisée et effectuée dans les établissements</h4>
            <div class="feature__body">
              <p>La certification Pix est passée directement au sein des établissements scolaires. Chaque élève a un test unique et personnalisé, généré à partir de son profil Pix : il est évalué uniquement sur les compétences pour lesquelles il a réussi à valider un niveau. Cela permet de vérifier que le niveau atteint par l’élève dans chaque compétence correspond bien à son niveau réel.</p>
            </div>
          </div>
          <div class="feature">
            <h4 class="feature__title">Un atout pour l’insertion dans le supérieur et le monde professionnel</h4>
            <div class="feature__body">
              <p>L'obtention de la certification est un atout dans la recherche de stage, pour le passage dans l’enseignement supérieur, et une aide à l'embauche.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-utiliser-pix">
    <h2 class="text text-lm text-center regular text-white mb-6">Pix Orga,<br>la plateforme dédiée à l’évaluation et au suivi pédagogique</h2>
    <div class="container">
      <div class="column">
        <h3 class="text text-lxl text-left light text-white">1</h3>
        <hr class="text-left mb-2 mt-2">
        <p class="text text-xs text-left bold text-white">En novembre 2019, l’établissement obtient un espace Pix Orga et dispose de ressources pour prendre en main la plateforme.</p>
      </div>
      <div class="column">
        <h3 class="text text-lxl text-left light text-white">2</h3>
        <hr class="text-left mb-2 mt-2">
        <p class="text text-xs text-left bold text-white">L’établissement accède à son espace Pix Orga et paramètre des parcours de test adaptés aux objectifs de formation (personnalisation de l’interface, sélection d’une compétence ou de parcours de test trans-compétences déjà préfigurés).</p>
      </div>
      <div class="column">
        <h3 class="text text-lxl text-left light text-white">3</h3>
        <hr class="text-left mb-2 mt-2">
        <p class="text text-xs text-left bold text-white">L’enseignant diffuse le lien du parcours de test auprès des élèves. Il suit en temps réel la participation des élèves et leur avancée dans le parcours.</p>
      </div>
      <div class="column">
        <h3 class="text text-lxl text-left light text-white">4</h3>
        <hr class="text-left mb-2 mt-2">
        <p class="text text-xs text-left bold text-white">Il visualise les résultats, le taux de réussite et d’échec, au niveau individuel et collectif. Il peut alors organiser des cours ciblés à partir des compétences numériques identifiées, et créer à nouveau des parcours pour mesurer les progrès et les acquis des élèves.</p>
      </div>
    </div>
  </section>

  <section class="section skewed skewed--negative section-agenda">
    <div class="container">
      <div class="section__header">
        <img style="margin: auto; max-width: 90px;" src="{{rootURL}}images/icn-calendar.svg">
        <h2 class="section__title">Un déploiement national sur 2 ans</h2>
      </div>
      <div class="section__body">
        <div class="feature-list top">
          <div class="feature">
            <h4 class="feature__title">La certification Pix au collège et au lycée</h4>
            <div class="feature__body">
              <p>À la rentrée 2019, Pix est généralisé progressivement dans tous les collèges (cycle 4) et lycées. Durant l’année scolaire 2020-2021, la certification Pix devient obligatoire pour les élèves de 3e et de Terminale.</p>
              <p>Cette généralisation se déroulera en 2 temps : l'année scolaire 2019-2020 sera consacrée à la préparation des élèves et l'année scolaire 2020-2021 à la certification des 3e et des Terminale.</p>
            </div>
          </div>
          <div class="feature">
            <h4 class="feature__title">Pourquoi sur 2 ans ?</h4>
            <div class="feature__body">
              <p>Permettre aux collèges de mettre en place Pix dans les meilleures conditions pour une préparation dès la classe de 4e en vue de la certification l'année suivante en 3e.</p>
              <p>Donner le temps aux lycées d’intégrer Pix dans la nouvelle organisation des enseignements du nouveau baccalauréat.</p>
            </div>
          </div>
        </div>
        <div class="steps">
          <div class="step">
            <h4 class="step__date">Novembre 2019</h4>
            <p class="step__body">L’établissement obtient Pix Orga et le déploie en son sein pour répondre aux objectifs de formation en 4e et 1re.</p>
          </div>
          <div class="step">
            <h4 class="step__date">Rentrée 2020</h4>
            <p class="step__body">2e année de déploiement : les élèves continuent de compléter leur profil Pix en 3e et Terminale</p>
          </div>
          <div class="step">
            <h4 class="step__date">Janvier - Juin 2021</h4>
            <p class="step__body">La certification Pix est passée dans l’établissement en fin de 3e et Terminale</p>
          </div>
        </div>
        <div class="feature-list">
          <div class="feature">
            <h4 class="feature__title">Certifier en juin 2020 </h4>
            <div class="feature__body">
              <p>Si l’établissement a suffisamment préparé les élèves sur Pix durant l’année scolaire 2019-2020, il peut demander à faire passer la certification Pix au sein de son établissement dès juin 2020 pour les élèves de 3e et de Terminale.</p>
            </div>
          </div>
          <div class="feature">
            <h4 class="feature__title">Préparer les élèves dès la 5e et 2de</h4>
            <div class="feature__body">
              <p>Bénéficiant d’un compte Pix Orga en novembre 2019, tout établissement scolaire peut dès lors déployer Pix en son sein et initier les élèves aux tests Pix dès la 5e et dès la 2de.</p>
            </div>
          </div>
          <div class="feature">
            <h4 class="feature__title">Création et accès au compte Pix de l’élève via l’ENT connecté au GAR</h4>
            <div class="feature__body">
              <p>Pix est accessible via le mediacentre de l'ENT, pour les établissements scolaires connectés au Gestionnaire d'Accès aux Ressources (GAR). En se connectant pour la 1re fois à Pix via le médiacentre, l’élève sera identifié et se verra automatiquement créé un compte Pix. De prochains développements de la plateforme permettront à l’élève de retrouver un compte précédemment créé.</p>
            </div>
          </div>
          <div class="feature">
            <h4 class="feature__title">Accès à un parcours de test sans adresse email à renseigner</h4>
            <div class="feature__body">
              <p>En novembre 2019, chaque établissement scolaire importera la liste de ses élèves (base SIECLE) dans Pix Orga. Lors de sa 1re connexion à Pix via un parcours de test, chaque élève de cette liste pourra alors décider de se créer un compte Pix sans adresse mail. En cas de problème de connexion, l'établissement aura la main sur la gestion du compte de l'élève.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <KeyNumbers class="section-pix"/>

</div>
