<main class="page simple-page">

  {{app-navbar}}

  <header class="page-header">
    <h1 class="page-header__title">{{as-text model.rawJSON.title}}</h1>
  </header>

  <main class="page-body container padding-container">
    {{#unless (is-empty model.rawJSON.header)}}
      <div class="page-body__header">
        {{{as-html model.rawJSON.header}}}
      </div>
    {{/unless}}

    {{#unless (is-empty model.rawJSON.body)}}
      <div class="page-body__body">
        {{{as-html model.rawJSON.body}}}
      </div>
    {{/unless}}

    {{#unless (is-empty model.rawJSON.footer)}}
      <div class="page-body__footer">
        {{{as-html model.rawJSON.footer}}}
      </div>
    {{/unless}}
  </main>

  {{app-footer}}

</main>
