<main class="page stats-page">
  <header class="page-header">
    <div class="container md padding-container">
      <h1 class="page-header__title">
        {{as-html model.doc.data.title}}
      </h1>
    </div>
  </header>
  <main class="page-body">

    <div class="container md padding-container">

      <section>
        {{as-html model.doc.data.accounts}}
        {{ember-chart type='line' data=model.accounts.data width=300 height=110}}
      </section>

      <section>
        {{as-html model.doc.data.campaigns}}
        {{ember-chart type='line' data=model.campaigns.data width=300 height=110}}
      </section>

      <section>
        {{as-html model.doc.data.certifications}}
        {{ember-chart type='line' data=model.certifications.data width=300 height=110}}
      </section>

      <section>
        {{as-html model.doc.data.organizations}}
        {{ember-chart type='line' data=model.organizations.data width=300 height=110}}
      </section>
    </div>
  </main>

</main>
